.suggestionContainer {
  display: table-header-group;
  background: #eee;
  border: 1px solid #aaaaaa;
  tr {
    transition: background 0.3s;
    cursor: pointer;
    &:hover {
      background: #636363;
      color: red !important;
    }
    td {
      color: #111111;
      font-family: "Abel", sans-serif;
      font-size: 14px;
      line-height: 28px;
      font-weight: 400;
      border: none;
      padding: 5px 15px;
    }
    &:hover {
      color: white !important;
    }
  }
}
