.itemRow {
  td {
    border: 1px solid #aaaaaa;
    color: #111111;
    font-family: "Abel", sans-serif;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    border-top: 1px solid #aaaaaa;

<<<<<<< HEAD
=======
    input {
      width: 100%;
      border: none;
      outline: none;
      @media(max-width:576px){
        max-width:100%;
        width:130px;
      }
    }

>>>>>>> e123aa65f5fcba1c554b540e3b2130c5a4f16489
    &.preco {
      background: #eeeeee;
    }
    &.opcoes {
      div {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }

    &.instrucoes,
    &.quantidade {
      div {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
