.tableContainer {
  width: 100%;
  margin-top: 20px;

  th {
    color: #111111;
    font-family: "Abel", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    background: #eeeeee;
    border: 1px solid #aaaaaa !important;
    padding: 10px !important;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.addNewRowTable {
  background: var(--color-brown-900);
  padding: 10px;
  font-size: 14px;
  @media (max-width: 576px) {
    max-width: 100%;
    width: 100%;
  }
}
