.header {
  background: var(--color-brown-900);
  @media (max-width: 992px) {
    img {
      margin: 0 auto;
      display: flex;
    }
  }
}
.navbar {
  background: var(--color-brown-100);
  padding: 10px;
  p {
    font-size: 16px;
    line-height: 29px;
    color: var(--color-brown-900);
    font-weight: 700;
    @media (max-width: 768px) {
      font-size: 13px;
      line-height: 26px;
    }
    @media (max-width: 576px) {
      font-size: 10px;
      line-height: 23px;
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 992px) {
      display: block;
    }
    li {
      &:nth-child(1) {
        margin-right: 40px;
      }
      a {
        color: var(--color-red);
        font-weight: 700;
        @media (max-width: 768px) {
          font-size: 13px;
          line-height: 26px;
        }
      }
      span {
        font-size: 16px;
        line-height: 29px;
        color: var(--color-brown-900);
        font-weight: 700;
        @media (max-width: 768px) {
          font-size: 13px;
          line-height: 26px;
        }
      }
    }
  }
  @media (max-width: 992px) {
    text-align: center;
    ul {
      justify-content: center;
      li {
        &:nth-child(1) {
          margin-right: 10px;
        }
      }
    }
  }
}
